* {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

.intro {
  padding: 15px;
}

.project {
  border: 3px solid darkgrey;
  max-width: 90%;
  margin: 10px auto;
}

h3 {
  margin: 50px auto;
  font-size: 24px;
}

.farm-tenant {
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
  background-color: #E0D3C7;
  font-size: 13px;
  text-align: center;
}

.chart div {
  font-size: 10px;
  background-color: #F55A63;
  text-align: right;
  padding: 6px;
  margin: 5px;
  color: white;
}

button {
  font-size: 15px;
  position: fixed;
  bottom: 20px;
  left: 45%;
}

.new {
  display: block;
}

.original {
  display: none;
}
