/***********/
/*Universal*/
/***********/
* {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

.intro {
  padding: 15px;
}

.project {
  border: 3px solid darkgrey;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.project~p {
  margin-bottom: 50px;
}

h3 {
  margin: 50px auto;
  font-size: 24px;
}

.original img {
  height: 600px;
}

p {
  margin-bottom: 50px;
}

/******************************/
/*Switches between old and new*/
/******************************/
button {
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  left: 45%;
  background: black;
  color: beige;
}

.new {
  display: block;
}

.original {
  display: none;
}


/*******************/
/*Farm tenant chart*/
/*******************/
.farm-tenant {
  background-color: #E0D3C7;
  font-size: 13px;
  text-align: center;
  height: 600px;
  padding-top: 100px;
}

/*change this around later! should be more specifically named!*/
.chart div {
  font-size: 10px;
  background-color: #F55A63;
  text-align: right;
  margin: 5px;
  color: white;
}


/*********************/
/*McIntosh County Map*/
/*********************/
#mcmap {
  margin: 0 auto;
  height: 600px;
  width: 800px;
}

.legend {
  background: rgba(255, 255, 255, 0.7);
}

.legend p {
  font-size: 10px;
  line-height: 14px;
  text-align: left;
}

.legend i {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    float: left;
    border: 1px solid black;
    margin-right: 8px;
}
